################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

FreelancingSystem/bin/Debug/net9.0/FreelancingSystem.dll
FreelancingSystem/bin/Debug/net9.0/FreelancingSystem.exe
FreelancingSystem/bin/Debug/net9.0/FreelancingSystem.pdb
FreelancingSystem/obj/Debug/net9.0/refint/FreelancingSystem.dll
FreelancingSystem/obj/Debug/net9.0/ref/FreelancingSystem.dll
FreelancingSystem/obj/Debug/net9.0/apphost.exe
FreelancingSystem/obj/Debug/net9.0/FreelancingSystem.AssemblyInfo.cs
FreelancingSystem/obj/Debug/net9.0/FreelancingSystem.dll
FreelancingSystem/obj/Debug/net9.0/FreelancingSystem.AssemblyInfoInputs.cache
FreelancingSystem/obj/Debug/net9.0/FreelancingSystem.pdb
FreelancingSystem/obj/Debug/net9.0/FreelancingSystem.sourcelink.json
FreelancingSystem/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
FreelancingSystem/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
FreelancingSystem/obj/Debug/net9.0/rpswa.dswa.cache.json
/FreelancingSystem/obj/Debug/net9.0
/.vs
/FreelancingSystem/obj/Debug/net9.0/FreelancingSystem.GeneratedMSBuildEditorConfig.editorconfig
/FreelancingSystem/obj/FreelancingSystem.csproj.nuget.g.props
/FreelancingSystem/obj/FreelancingSystem.csproj.nuget.dgspec.json
/FreelancingSystem/obj/project.assets.json
/FreelancingSystem/obj/project.nuget.cache
/obj/Release/net9.0
/FreelancingSystem/bin/Debug/net9.0
