################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/FreelancingSystem/bin/
/FreelancingSystem/obj/
/obj/Release/net9.0
